<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Our Services</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ourServices">Our Services</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="service_info">

        <h1>Our Services</h1>
        <div class="serv_List">
            <div class="Service">
                <h3>Web design and development</h3>
                <p>We can design and develop a custom website that fits your unique needs and goals. From user-friendly
                    interfaces to engaging content and high-performance functionality, we can create a site that drives
                    traffic and achieves results.</p>
            </div>
            <div class="Service">
                <h3>Social media management </h3>
                <p>We can help you harness the power of social media to connect with your audience and grow your
                    business. From crafting compelling content to monitoring analytics and managing ad campaigns, we can
                    handle all aspects of your social media presence.</p>
            </div>
            <div class="Service">
                <h3>SEO optimization</h3>
                <p>We can help you improve your website's search engine ranking and increase your visibility online.
                    From optimizing your content and keywords to building high-quality backlinks and monitoring
                    analytics, we can help you stay ahead of the competition.</p>
            </div>
        </div>
    </div>
</body>

</html>